{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'composers_profile/css/jquery-ui.min.css' %}" />
        <link rel="stylesheet" href="{% static 'composers_profile/css/jquery-ui.structure.min.css' %}" />
        <link rel="stylesheet" href="{% static 'composers_profile/css/jquery-ui.theme.min.css' %}" />
        <link rel="stylesheet" href="{% static 'composers_profile/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'composers_profile/css/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet" href="{% static 'composers_profile/css/composers_profile.css' %}" />
        <script src="{% static 'composers_profile/js/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'composers_profile/js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'composers_profile/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'composers_profile/js/validator.min.js' %}"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body class="base_body">
        <nav class="navbar navbar-inverse navbar-fixed-top login_navbar">
            <a href="{% url 'home_page' %}" class="btn btn-primary loginlink">
                Login
            </a>
            <div class="navbar-header">
                <a class="navbar-brand">
                    <img src="{% static 'composers_profile/images/music.png' %}" alt="brand" class="music_logo"/>
                </a>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
        <nav class="navbar navbar-inverse navbar-fixed-bottom">
        </nav>
    </body>
</html>
