{% extends "base.html" %}
{% load staticfiles %}
    {% block body %}
        <div class="row resetpwd_row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-7">
                <form role="form" method="post">
                    {% csrf_token %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Reset Password form
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="id_password" class="control-label">Password</label>
                                {{ form.password }}
                            </div>
                            {% if form.password.errors %}
                                <div class="alert alert-danger">
                                    {{ form.password.errors }}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="id_confirm_password">Confirm Password</label>
                                {{ form.confirm_password }}
                            </div>
                            {% if form.confirm_password.errors %}
                                <div class="alert alert-danger">
                                    {{ form.confirm_password.errors }}
                                </div>
                            {% endif %}
                            {% if password_reset_success %}
                                <div class="alert alert-success">
                                    {{ password_reset_success }}
                                </div>
                            {% endif %}
                            {% if reset_try %}
                                <div class="alert alert-warning">
                                    {{ reset_try }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="panel-footer">
                            <input type="submit" value="Submit" class="btn btn-primary btn3d btn-lg" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
